.background{
    background-image: url(images/pngtree-picture-of-travel-agency-quotation-picture-image_1628520.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.display{
    background-image: url(images/abstract-digital-grid-black-background_53876-97647.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
